<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet"/>
        <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet"/>
        <title>FindJob | Bienvenido</title>
    </head>
    <body>
       <header th:insert="components/navbar.html::navbar"></header>

      <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h3>Encuentra el trabajo que andas buscando.</h3>
            Puedes buscar por descripción y categoría.
            <form th:action="@{/search}" method="GET" class="form-inline" th:object="${query}">
              <input th:field="*{description}" type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Escriba una búsqueda">&nbsp;
              <select th:field="*{category.id}" class="custom-select custom-select mb-3">
                <option th:value="${null}" selected>Seleccione una categoría</option>
                <option th:each="category: ${categories}" 
                        th:value="${category.id}" 
                        th:text="${category.name}"
                />
              </select>&nbsp;
              <button type="submit" class="btn btn-primary mb-3">Buscar</button>
            </form>
          </div>
        </div>
        <hr>

        <div class="container"> 
          <h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
          <hr>
          <div class="row" th:each="vacancy : ${vacancies}">
            <div class="col-md-3">            
              <img class="rounded mx-auto d-block" th:src="@{/images/{image} (image=${vacancy.image})}" alt="Generic placeholder image" width="220" height="220">            
            </div>
            <div class="col-md-9">
              <h2 th:text="${vacancy.name}"></h2>
              <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${vacancy.category.name}"></span></h6>
              <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${#temporals.format(vacancy.published,'dd-MMMM-yyyy')}"></span></h6>                
              <h6 class="card-title"><strong>Sueldo: </strong> <span>$[[${vacancy.salary}]]</span></h6>                
              <p th:text="${vacancy.description}"></p>
              <p><a class="btn btn-secondary" th:href="@{/vacancies/view/{id} (id = ${vacancy.id})}" role="button">Ver detalles &raquo;</a></p>            
            </div>
          </div>  
          <hr>	
        </div>

      </main>

      <footer class="footer" th:insert="components/footer.html::footer"></footer>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
